{# Load the tag library #}
{% load bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

<h2>Add Employee manually</h2>
<form action="" method="post" class="form row row-cols-lg-auto align-items-end">
    {% csrf_token %}
    {% bootstrap_form form_manual %}
    {% buttons %}
      <button type="submit" class="btn btn-primary">
        Submit
      </button>
    {% endbuttons %}
</form>
<h2>or from csv file</h2>
<form action="" method="post" class="form row row-cols-lg-auto align-items-end">
    {% csrf_token %}
    {% bootstrap_form form_file %}
    {% buttons %}
      <button type="submit" class="btn btn-primary">
        Submit
      </button>
    {% endbuttons %}
</form>

{% if added_employees.0 %}
    {% if added_employees.1 %}
        <h2>Added Employees</h2>
    {% else %}
        <h2>Added Employee</h2>
    {% endif %}
        <table class="table">
            <tr>
                {% for label in employee_fields_names %}
                <th>{{ label }}</th>
                {% endfor %}
            </tr>
            {% for employee in added_employees %}
                <tr>
                    {% for value in employee.values %}
                    <td>{{ value }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
{% endif %}

{% if error %}
        <h2>{{ error }}</h2>
{% endif %}