{% load bootstrap5 %}

<h4 class="mb-3">Manually</h4>
<form action="" method="post" class="form row row-cols-lg-auto align-items-end">
    {% csrf_token %}
    {% bootstrap_form form_manual %}
    {% buttons %}
      <button type="submit" class="btn btn-primary">
        Submit
      </button>
    {% endbuttons %}
</form>
<h4 class="mb-3">or from csv file</h4>
<form action="" method="post" class="form row row-cols-lg-auto align-items-end">
    {% csrf_token %}
    {% bootstrap_form form_file %}
    {% buttons %}
      <button type="submit" class="btn btn-primary">
        Submit
      </button>
    {% endbuttons %}
</form>

{% if added_employees.0 %}
        <h4 class="mt-5 mb-4">

            {% if added_employees.1 %}
                Added Employees
            {% else %}
                Added Employee
            {% endif %}
        </h4>
        <table class="table">
            <tr>
                {% for label in employee_fields_names %}
                <th>{{ label }}</th>
                {% endfor %}
            </tr>
            {% for employee in added_employees %}
                <tr>
                    {% for value in employee.values %}
                    <td>{{ value }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
{% endif %}

