{% include "employees/menu.html" %}
<h2>Add Employee manually</h2>
<form action="" method="post">
    {% csrf_token %}
    {{ form_manual }}
    <input type="submit" value="Submit">
</form>
<h2>or from csv file</h2>
<form action="" method="post">
    {% csrf_token %}
    {{ form_file }}
    <input type="submit" value="Submit">
</form>

{% if added_employees.0 %}
    {% if added_employees.1 %}
        <h2>Added Employees</h2>
    {% else %}
        <h2>Added Employee</h2>
    {% endif %}
        <table>
            <tr>
                {% for label in employee_fields_names %}
                <th>{{ label }}</th>
                {% endfor %}
            </tr>
            {% for employee in added_employees %}
                <tr>
                    {% for value in employee.values %}
                    <td>{{ value }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
{% endif %}

{% if error %}
        <h2>{{ error }}</h2>
{% endif %}