{% load bootstrap5 %}

{% if employees_list_len %}
<h4 class="mb-3">Manually</h4>
    <form action="" method="post" class="form row row-cols-lg-auto align-items-end">
        {% csrf_token %}
        {% bootstrap_form form_select %}
        {% buttons %}
          <button type="submit" class="btn btn-primary">
            Submit
          </button>
        {% endbuttons %}
    </form>
    <h4 class="mb-3">or from csv file</h4>
    <form action="" method="post" class="form row row-cols-lg-auto align-items-end">
        {% csrf_token %}
        {% bootstrap_form form_file %}
        {% buttons %}
          <button type="submit" class="btn btn-primary">
            Submit
          </button>
        {% endbuttons %}
    </form>
{% else %}
    <div class="alert alert-secondary" role="alert">Employees list is empty, add the empoyees first</div>
{% endif %}
{% if deleted_employees.0 %}
        <h4 class="mt-5 mb-4">
            {% if deleted_employees.1 %}
             Deleted Employees
            {% else %}
                Deleted Employee
            {% endif %}
        </h4>
        <table class="table">
            <tr>
                {% for label in employee_fields_names %}
                <th>{{ label }}</th>
                {% endfor %}
            </tr>
            {% for employee in deleted_employees %}
                <tr>
                    {% for value in employee.values %}
                    <td>{{ value }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
{% endif %}
