{% if all_employees_list.0 %}
    <table class="table">
        <tr>
            {% for label in employee_fields_names %}
            <th>{{ label }}</th>
            {% endfor %}
        </tr>
        {% for employee in all_employees_list %}
            <tr>
                {% for value in employee.values %}
                <td>{{ value }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
{% else %}
    <div class="alert alert-secondary" role="alert">No employeed added yet</div>
{% endif %}